.button-group-container {
  display: flex;
}

.button-group-container button {
  border-radius: 0 !important;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.button-group-container button:first-child {
  border-radius: 3px 0 0 3px !important;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: none;
}

.button-group-container button:last-child {
  border-radius: 0 3px 3px 0 !important;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: none;
}
