.search-bar-container {
  display: inline-flex;
  margin: 0.5rem;
  padding: 0.25rem;
  border-bottom: 2px solid transparent;
  box-shadow: rgba(100, 100, 111, 0.25) 0 7px 29px 0;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.2s ease-in;
}

.search-bar-container-input {
  font-size: 1.1rem;
  opacity: 0;
  width: 16rem;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease-in;
}

.search-bar-container-input:focus {
  outline: none;
}

.search-bar-clear-btn {
  opacity: 0;
  background-color: transparent;
  border: none;
  padding: 0 0.6rem;
  transition: all 0.2s ease-in;
}

.search-bar-clear-btn:hover {
  cursor: pointer;
}

.search-bar-clear-btn:focus {
  outline: none;
}

.search-bar-container:hover .search-bar-container-input {
  opacity: 1;
}

.search-bar-container:hover .search-bar-clear-btn {
  opacity: 1;
}

.search-bar-input-filled {
  opacity: 1;
}

.search-bar-container-filled {
  opacity: 1;
}

.search-bar-icon {
  color: #666;
  margin: 0;
  padding: 0;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
