.button {
  border: none;
  padding: 1rem;
  transition: 0.2s all ease-in;
  border-radius: 4px;
  font-size: 1.1rem;
  margin: 0.1rem;
}

.button:hover {
  cursor: pointer;
  background-color: #5bcae8;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.light-color-btn {
  color: white;
}

.dark-color-btn {
  color: #333;
}

.transparent-btn {
  background-color: transparent;
}

.solid-btn {
  background-color: #111;
}
