.input-box {
  border: 2px solid rgb(198, 198, 198);
  display: inline-flex;
  width: 22rem;
  margin-bottom: 0.4rem;
  padding: 0.6rem 0.3rem;
  border-radius: 3px;
}

.input-box input {
  border: none;
  width: 100%;
}

.input-box input:focus {
  outline: none;
}

.input-box .fas {
  padding: 0 0.5rem;
}
