.paginated-menu-container {
  position: fixed;
  width: 50%;
  max-width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-left: 1px solid #d1d1d1;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  height: 100%;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 0.2s ease-in;
  z-index: 30;
  right: 0;
}

.paginated-menu-body-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  min-height: calc(100vh - 10rem);
}

.paginated-menu-subtitle {
  padding-bottom: 1rem;
}

.paginated-menu-subtitle i {
  margin-right: 0.5rem;
}

.paginated-menu-close-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top: auto;
}

.paginated-menu-close-btn-container .button {
  width: 100%;
}

.paginated-menu-open {
  opacity: 1;
}

.paginated-menu-close {
  opacity: 0;
  transform: translateX(30rem);
}

.article-link {
  margin: 0.1rem;
  padding: 0.1rem;
  text-decoration: none;
  color: #222;
  transition: all 0.2s ease-in;
  font-family: sans-serif;
}

.article-link:hover {
  color: #999;
}

.article-link i {
  margin-right: 0.5rem;
}

.article-group-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.1rem 0.7rem 1rem 0.7rem;
  margin: 0.25rem;
  border-bottom: 1px solid black;
}

.article-container {
  display: flex;
  margin: 0.1rem;
}

.article-date {
  color: #777;
  padding: 0.1rem;
  margin: 0.1rem;
  margin-right: 2rem;
  font-family: sans-serif;
}

.newspaper-name {
  font-family: sans-serif;
}
