.pagination-btn {
  width: 8rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  border: none;
  border-radius: 3px;
  transition: all 0.2s ease-in;
  color: white;
  font-size: 1.1rem;
}

.pagination-btn:focus {
  outline: none;
}

.pagination-center-container {
  display: flex;
  justify-content: center;
}

.pagination-page-count-container {
  display: flex;
  width: 3.5rem;
  justify-content: center;
  align-items: center;
}

.pagination-input {
  margin: 0.4rem;
  text-align: center;
  border: 2px solid #bbb;
  width: 2rem;
  height: 2rem;
}

.pagination-input:focus {
  outline: none;
}

.pagination-btn:hover {
  background-color: #444;
  cursor: pointer;
  color: white;
}

.disabled-pagination-btn,
.disabled-pagination-btn:hover {
  cursor: default;
  color: black !important;
  opacity: 0;
  background-color: transparent;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
