.paginated-menu-container {
  width: 48rem;
  max-width: 70vw;
  background-color: #fff;
  z-index: 1202;
  height: 100vh;
  border-left: 1px solid #e2e2e2;
  position: fixed;
  right: 0;
  transition: all 0.2s ease-in;
}

.paginated-menu-body-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  min-height: calc(100vh - 10rem);
}

.paginated-menu-subtitle {
  padding-bottom: 1rem;
}

.paginated-menu-subtitle i {
  margin-right: 0.5rem;
}

.paginated-menu-pagination-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top: auto;
}

.paginated-menu-pagination-btn-container .button {
  width: 100%;
}

.paginated-menu-open {
  opacity: 1;
}

.paginated-menu-close {
  opacity: 0;
  transform: translateX(30rem);
}

.article-link {
  margin: 0.1rem;
  padding: 0.1rem;
  text-decoration: none;
  color: #222;
  transition: all 0.2s ease-in;
  font-family: sans-serif;
}

.article-link:hover {
  color: #999;
}

.article-link i {
  margin-right: 0.5rem;
}

.article-group-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.1rem 0.7rem 1rem 0.7rem;
  margin: 0.25rem;
  border-bottom: 1px solid black;
}

.article-container {
  display: flex;
  margin: 0.1rem;
}

.article-date {
  color: #777;
  padding: 0.1rem;
  margin: 0.1rem;
  margin-right: 2rem;
  font-family: sans-serif;
}

.newspaper-name {
  font-family: sans-serif;
}
