.input-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-title {
  display: flex;
  justify-content: center;
}

.form-btn-container {
  margin-top: 1rem;
}
