.snackbar-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #111;
  color: white;
  padding: 1rem;
  width: 20rem;
  max-width: 50%;
  margin: 1rem;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.snackbar-container-open {
  opacity: 1;
}

.snackbar-container-close {
  opacity: 0;
  background-color: #5bcae8;
}

.snackbar-container-btn {
  background-color: transparent;
  border: none;
}
